/*
Theme Name: Lamour Secret
Theme URI: https://www.mymentech.com
Author: MymenTech
Author URI: https://www.mymentech.com
Description:
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: lamour
Tags: one-column, two-columns, blog, education
*/

#header-slider{
    position: relative;
    clear: both;
    overflow: hidden;
}

.w3-display-left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
}

.w3-display-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
}

#popup-submit{
    margin-right: 5px;
    margin-top: 0;
}
#popup-submit {
    color: #fff;
}
#popup-submit {
    background-color: #121212;
}
#popup-submit {
    font-weight: 400;
    margin: 10px 0;
    border: none;
    border-radius: 0;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 18px;
    font-family: 'Lato', sans-serif;
}

.subscribe-header .button.primary {
    color: #cd2d2d;
}

/*Woocommerce custom design*/

.single-product  .woocommerce-product-gallery{
    width:40%!important;
    float: left!important;
}

.single-product .summary.entry-summary{
    width: 55%!important;
    float: right!important;
}

.section.single.whiteBG .woocommerce-Price-amount.amount {
    font-size: 50px;
    font-weight: 300;
    color: #cd2d2d;
    line-height: 50px;
}


.section.single.whiteBG .summary.entry-summary span.text {
    display: block;
    padding: 15px 0;
}

.section.single.whiteBG .quantity {
    clear: both;
    display: block;
    overflow: hidden;
    float: none!important;
}
.section.single.whiteBG .quantity input{
    font-size: 14px;
    padding: 4px 8px;
    float: left;
    display: block;
    border: 1px solid #e1e2e2;
    width: calc(50% - 12px);
    margin-bottom: 15px;
    box-shadow: none;
    border-radius: 0;
    -ms-text-align-last: right;
    text-align-last: left;

}

.section.single.whiteBG form button{
    background: #cd2d2d;
    padding: 15px;
    color:#fff;
    font-weight: 400;
    margin: 10px 0;
    border: none;
    border-radius: 0;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 18px;
    font-family: 'Lato', sans-serif;
}
.section.single.whiteBG form button:hover{
    border: none;
}

.woocommerce-breadcrumb{
    display: none;
}
#header{
    z-index: 1;
}

.woocommerce-product-gallery ol{
    list-style: none;
}

.section.single.whiteBG .flex-control-nav{
    display: none;
}

.section.single.whiteBG .flex-viewport{
    height: auto!important;
}


.section.single.whiteBG .flex-viewport figure a:hover{
    cursor: default;
}

.section.single.whiteBG form.cart .variations select{
    padding: 6px 20px;
    border: 1px solid #ddd;
    margin-left:25px;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}

label.text.alt{
    font-family: 'Lato', sans-serif;
}

.section.single.whiteBG table.variations{
    margin: 15px 0;
}
#lemourshop .woocommerce-message::before {
    color: #cd2d2d;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: #fff;
    color: #cd2d2d;
    border: 2px solid #cd2d2d;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background-color: #cd2d2d;
    border: 2px solid #cd2d2d;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}
#lemourshop .product_title{
    color: #3f4853;
}
#lemourshop .product_title:hover{
    color: #5f6873;;
}
#lemourshop .woocommerce-message {
    border-top-color: #cd2d2d;
}

#lemourshop .shop-info a button{
    display: block;
    margin: 5px auto;
    padding: 8px 12px;
    border: 2px solid #cd2d2d;
    color: #cd2d2d;
    cursor: pointer;
    background-color: #fff;
}


#lemourshop .woocommerce-pagination{
    clear: both;
    width: 80%;
    margin: 0 auto;
}

#lemourshop .woocommerce-pagination ul{
    border: none;
}


#lemourshop .woocommerce-pagination ul li{
    float: left;
    margin-right: 5px;
    list-style: none;
    border-right: none;

}

#lemourshop .woocommerce-pagination ul li span{
    display: block;
    text-align: center;
    padding: 12px;
    border-radius: 50%;
    line-height: 13px;
}

#lemourshop .woocommerce-ordering select{
    width: 100%;
}
#lemourshop .woocommerce-pagination ul li a{
    padding: 12px;
    background: #0f0f0f;
    border-radius: 50%;
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    line-height: 13px;

}

#lemourshop .woocommerce-pagination ul li span.current{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background: #cd2d2d;

}

.wc-proceed-to-checkout a.checkout-button{
    margin: 5px auto;
    padding: 12px;
    border: 2px solid #cd2d2d;
    color: #cd2d2d!important;
    cursor: pointer;
    background-color: transparent!important;
}

.payment_box{
    clear: both;
}


.woocommerce-message{
    clear: both;
    margin: 0 auto;
    width: 960px;
    max-width: 100%;
    height: auto;
}
.woocommerce-message a{
    font-weight: bold;
    color: #fff;
    background: #cd2d2d;
}

button.w3-display-left, button.w3-display-right{
    border:none;
    background: transparent;
    cursor: pointer;
}
button.w3-display-left, button.w3-display-right i{
    color: #f0f0f0;
}

.woocommerce-result-count{
    
}


/*Gift template custom desing*/


.page-template-gift .section.whiteBG{
    height: auto;
}

.single.postid-677{
}

.single.postid-677 .summary.entry-summary p.price{
    display: none;
}
.single.postid-677 .summary.entry-summary label.text.alt{
    display: none;
}

.single.postid-677 p label{
    font-size: 12px;
    letter-spacing: 3px;
    margin-bottom: 8px;
    display: inline-block;
    margin-top: 10px;
    padding: 2px 5px 3px 0;
    font-weight: 700;
    color: #aaa;
    text-transform: uppercase;
}

.single.postid-677 span.price{
    display: block;
    clear: both;
}

.product-addon-answer-a-few-questions-for-your-gift h3{
    font-family: 'Satisfy', sans-serif;
    font-size: 38px;
    line-height: 42px;
    text-transform: lowercase;
    display: block;
    clear: both;
}

.single.postid-677 .product-addon-what-is-the-recipients-gender h3, .single .single_variation_wrap .product-addon-their-sexual-preference h3, .single .single_variation_wrap .product-addon-how-would-you-describe-their-sex-life h3{
    font-size: 12px;
    letter-spacing: 3px;
    margin-bottom: 8px;
    display: inline-block;
    margin-top: 10px;
    padding: 2px 5px 3px 0;
    font-weight: 700;
    color: #aaa;
    pointer-events: none;
    text-transform: uppercase;
    display: block;
}

.single.postid-677 input{
    color: #3f4853;
    border: none !important;
    border-bottom: 1px solid #e1e2e2 !important;
    font-weight: 400;
}

.single.postid-677 input:focus{
    background-color: #f5f5f5;
}
.single.postid-677 input[type="text"]{
    padding: 15px 5px;
    font-size: 18px;
    display: block;
    float: left;
    width: calc(100% - 12px);
    margin-bottom: 15px;
    box-shadow: none;
    border-radius: 0;
}

.single.postid-677 select{
    padding: 10px 5px;
    border: 1px solid #e1e2e2;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #333333;
    letter-spacing: 0.4px;
    text-transform: capitalize;
}

.product-addon-what-is-the-recipients-gender p, .product-addon-their-sexual-preference p{
    float: left;
    clear: inherit!important;
}

.single.postid-677 .quantity{
    display: none!important;
}
.single.postid-677 button[type="submit"]:hover{
    border:none;
}
.single.postid-677 button[type="submit"]{
    background-color: #121212!important;
    color: #fff!important;
    opacity: 1;
}

.single figure{
    transform: translate3d(0px, 0px, 0px)!important;
}

.home .mySlides .fullSectionContent{
    padding: 150px 0;
}


.woocommerce td.product-name dl.variation dt{

}
.woocommerce-cart table tr td dl{
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0
}
.woocommerce-cart table tr td dl dd{
    margin-bottom: 10px!important;
}
.woocommerce-cart table tr td dl dd p{
    display: contents;
    font-weight: 500;
}


.post-type-archive-product .product-item{
    margin-right: 15px;
}

.post-type-archive-product .product-item:nth-child(3n+3){
    margin-left: 15px;
}


/*
.woocommerce-cart table tr td dl dt{
    float: left;
    width: 50%;
    background: #cc0;
    padding: 0;
    margin: 0
}
.woocommerce-cart table tr td dl dd{
    float: left;
    width: 50%;
    background: red;
    padding: 0;
    margin: 0;
}
*/




/*Responvie */
#ls-registration{

}


#ls-registration .fs-fields input:focus {
    background-color: #f5f5f5;
}

#ls-registration input[type="text"], input[type="password"], input[type="email"], textarea{
    padding: 8px 5px;
    display: block;
    float: left;
    width: calc(100% - 12px);
    margin-bottom: 15px;
    border-radius: 0;
}

#ls-registration .fs-fields input {
    color: #3f4853;
    border: none !important;
    border-bottom: 1px solid #e1e2e2 !important;
    font-size: 25px;
    font-weight: 400;
}

#ls-registration button.fs-continue{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 15px 15px 0;
    font-size: 18px;
    padding: 12px 18px;
    border: 0px solid #e1e2e2;
}

#ls-registration button.fs-continue:hover{
    color: #c90;
    padding: 12px 18px;
    border: 0px solid #e1e2e2;
    background: none;
}

#ls-registration .fs-message-error{
    left: 0;
    bottom: 0;
}

#ls-registration .fs-nav-dots button:hover::before, #ls-registration .fs-nav-dots button.fs-dot-current::before{
    background: #cd2d2d;
}

#ls-registration .fs-fields>li .fs-radio-custom span {
    float: left;
    position: relative;
    margin-right: 10px;
    padding: 10px;
    max-width: 200px;
    width: 120px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    font-family: "Lato", Helvetica, Arial, sans-serif;
}


#ls-registration .fs-fields .fs-radio-custom label::after {
    background-size: 60px;
    background-position: center;
    border-radius: 100px;
    height: 80px;
    width: 80px;
    bottom: 0px;
    top: auto;
    opacity: 0.5;
}


#ls-registration .fs-fields .fs-radio-custom label:hover::after, #ls-registration .fs-fields input[type="radio"]:focus + label::after, #ls-registration .fs-fields input[type="radio"]:checked + label::after {
    opacity: 1;
}


#ls-registration .fs-fields .fs-radio-custom input[type="radio"]:checked+label {
    color: #999;
}


#ls-registration .fs-progress{
    background: red;
}

#ls-registration .fs-form-overview{
    background: #fff;
}

#ls-registration .fs-numbers{
    top: unset;
    font-size: .9em;
}


/*Responvie */

.single .flex-viewport a img{
    height: auto;
}

.single.single-post .content-large{
    width: 60%;
}
.single.single-post .content-small{
    width:30%;
}




.single-product .section.single.whiteBG .woocommerce-Price-amount.amount {
    font-size: 35px;
}

.lamour-404 {
    padding-top: 97px;
    text-align: center;
}

.lamour-404 h1 {
    font-size: 80px;
}

.lamour-404 h3 {
    font-size: 25px;
    margin-top: 90px;
}
.single figure{
    width:auto!important;
}

#contact .fs-form-full .fs-fields > li{
    visibility: visible;
    position: relative;
    text-align: center;
}

#contact .fs-form-full{
    width: 100%;
}
#contact .fs-fields [required]{
    background-image: none;
}
#contact textarea{
    display: block;
    float: left;
    border: 1px solid #e1e2e2;
    width: calc(100% - 12px);
    margin-bottom: 15px;
    box-shadow: none;
    border-radius: 0;
    color:#3f4853;
    font-weight: 400;
}
#contact .fs-fields input{
    color:#3f4853;
    font-size: 18px;
    font-weight: 400;
}

#contact .fs-fields input:focus {
    background-color: #f5f5f5;

}

#contact .wpcf7-not-valid-tip{
    font-size: .4em;
}

#contact div.wpcf7-validation-errors, div.wpcf7-acceptance-missing{
    font-size: 17px;
}
#contact div.wpcf7-mail-sent-ng, div.wpcf7-aborted{
    font-size: 17px;
}
#shopping-btn{

}

a#shopping-btn{
    color: #ccc!important;
}

.page-template-about-us .fullSectionContent{
    padding: 100px 0;
}

.page-template-registration .fs-fields > li label.fs-field-label{
    padding: 0 5px 3px 0;
}
.page-template-registration .fs-nav-dots button{
    width: 10px;
    height: 10px;
}

/*#curt-btn {*/
    /*font-size: 30px;*/
    /*color: #ccc;*/
    /*position: absolute;*/
    /*top: 10px;*/
    /*right: 5%;*/
    /*border: 4px solid #ccc;*/
    /*border-radius: 120px;*/
    /*padding: 3px 6px;*/
    /*z-index: 100;*/
/*}*/
/*#curt-btn a:link{*/
    /*color: #ccc;*/
/*}*/

/*Responvie */
@media only screen  and (max-width : 568px) {
    .single.single-post .content-large{
        width: 100%;
    }
    .single.single-post .content-small{
        width:100%;
    }

    .single.single-post .content-small img{
        display: block;
        margin: 0 auto;
    }

    .single.single-post .content-small .floatL {
        float: none !important;
    }

    .single-product  .woocommerce-product-gallery{
        width:100%!important;
        float: left!important;
    }

    .single-product .summary.entry-summary{
        width: 100%!important;
        float: right!important;
    }


}

@media only screen  and (max-width : 854px) {
   #ls-registration button.fs-continue{
       width: auto;
    }
    #ls-registration button.fs-continue::before{
        content: '';
    }

}



#shopping-btn > span.cart-contents-count{
    display: none;
}

@media (max-width: 800px){
    #profile-btn{
        height: auto;
    }

}