/* NuTastic Designz / Jarmell James / www.nutastic.net */
* {
	outline: none !important;
	text-decoration: none;
	/*max-width: 100%;*/
	text-shadow: none !important;
}

::selection {
	background: #121212;
	color: #fff;
}

html, body {
	margin: 0px !important;
	padding: 0;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: #3f4853;
	background: #fff;
}

a:link, a:visited, a:active {
	color: #cd2d2d;
}

a:hover {
	color: #999;
}

.container {
	margin: 0px auto;
	width: 960px;
	max-width: 100%;
	clear: both;
	height: auto;
	position: relative;
}

.container.mini {
	width: 500px;
}

.container.small {
	width: 650px;
}

.container.medium {
	width: 800px;
}

.container.full {
	width: 100%;
	max-width: 100%;
}

.content-large{
	width:620px;
	float:left;
}

.content-small{
	width:300px;
	float:right;
}

.container:after, .content:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#header {
	background: #fff;
	padding: 25px 0 0px;
	float: left;
	width: 100%;
	border-bottom: 0px solid #e1e2e2;
	position: relative;
}

#header .nav {
	display: inline-block;
	float: none;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 300;
	margin: 5px 12px;
	cursor: pointer;
}

#header a:link, #header a:visited, #header a:active {
	color: #fff;
}

#header a:hover {
	color: #cd2d2d;
}

#header .container {
	width: 100%;
}

.header-text {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

#menu {
	background: #121212;
	color: #fff;
	padding: 8px 0;
}

#logo {
	display: inline-block;
	width: 250px;
}

#footer {
	height: auto;
	float: left;
	background: #121212;
	padding: 100px 0px 50px;
	width: 100%;
	font-size: 15px;
	color: #fff !important;
	text-align: center;
	font-weight: 400;
	position: relative;
	z-index: 10;
}

#footer #emblem {
	display: inline-block;
	width: 60px;
	position: absolute;
	background: #121212;
	border-radius: 100px;
	padding: 10px;
	top: -20px;
	left: 0;
	right: 0;
	margin: auto;
}

#footer a:link, #footer a:visited, #footer a:active {
	color: #fff;
}

#footer a:hover {
	color: #fff;
}

#footer .nav {
	display: inline-block;
	width: 100%;
	margin: 0px 0px 18px;
	text-align: left;
	color: #fff;
	display: inline-block;
	float: left;
	width: 24%;
	margin-left: 1%;
	font-family: 'Lato', sans-serif;
	text-transform: none;
	letter-spacing: 1px;
	font-size: 16px;
	cursor: pointer;
}

#footer .nav:hover {
	color: #e09832 !important;
}

#footer .nav.key {
	color: #fff;
	font-weight: 700;
}

#footer .container {
	width: 970px;
}

#footer .divider {
	opacity: 0.1;
}

#footer #copyright {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 6px;
	float: right;
}

#social {
	position: relative;
	float: right;
	text-align: right;
	padding-top: 0px;
	width: 50%;
}

#social i {
	font-size: 18px;
	display: table-cell;
	vertical-align: middle;
	color: #fff;
	text-decoration: none;
}

#social a {
	display: inline-table;
	width: 40px;
	height: 40px;
	border: 1px solid #fff;
	text-align: center;
	border-radius: 100px;
	margin: 0 12px 5px 0;
	float: left;
}

#profile-btn {
	font-size: 30px;
	color: #cd2d2d;
	position: absolute;
	top: 10px;
	right: 15px;
	border: 4px solid #cd2d2d;
	border-radius: 120px;
	padding: 6px 9px;
	z-index: 100;
}

#profile-btn.green {
	color: #096;
	border-color: #096;
}

#shopping-btn {
	font-size: 30px;
	color: #ccc;
	position: absolute;
	top: 10px;
	right: 75px;
	border: 4px solid #ccc;
	border-radius: 120px;
	padding: 6px 8px 6px 6px;
	z-index: 100;
}

.page-header {
	float: left;
	height: 520px;
}

.page-header.blog-head {
	float: left;
	height: 480px;
}

.page-header .title-script {
	font-size: 80px;
	line-height: 90px;
}

.page-header .text {
	font-size: 20px;
	line-height: 32px;
	letter-spacing: 2px;
	text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.45);
}

#header-naked {
	width: 250px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 20px;
}

#header-naked img {
	width: 100%;
	margin-bottom: 10px;
}

#blog-info{
	padding-top:40px;
}

#blog-info iframe{
	width:100%;
	margin:30px 0;
	height:420px;
	float:left;
}

.blog-thumb{
	width:100%;
	height:210px;
}

.alert {
	width: 100%;
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.75);
	border-radius: 0px;
	text-align: center;
	position: fixed;
	top: 0px;
	color: #fff;
	font-weight: 400;
	letter-spacing: 1px;
	font-family: 'Lato';
	z-index: 1000;
	font-size: 16px;
	line-height: 28px;
	border: none;
}

.alert .close {
	position: absolute;
	width: 25px;
	right: 22px;
	height: 25px;
	line-height: 24px;
	cursor: pointer;
	top: 15px;
	font-size: 24px;
	color: #fff;
	opacity: 1;
	border-radius: 25px;
	border: 2px solid #fff;
	text-shadow: none;
}

@media ( max-width : 800px) {
	#logo {
		width: 200px;
	}
	#header .nav {
		font-size: 12px;
		margin: 5px 8px;
		font-weight: 400;
	}
	#profile-btn {
		font-size: 25px;
		border-width: 3px;
		height: 26px;
	}
	.container {
		width: 92%;
	}
	.container.medium, .container.small, .container.mini {
		width: 86%;
	}
	#footer .container {
		width: 90%;
	}
	#footer .nav {
		width: 49%;
		margin-left: 1%;
		text-align: center;
		font-weight: 400 !important;
	}
	#footer #copyright {
		width: 100%;
		float: left;
		text-align: center;
		margin-bottom: 20px;
		font-size: 10px;
	}
	#social {
		float: none;
		width: 100%;
		text-align: center;
		display: inline-block;
	}
	#social a {
		margin: 6px;
		float: none;
	}
	.page-header .title-script {
		font-size: 50px;
		line-height: 60px;
	}
	.page-header .text {
		font-size: 16px;
		line-height: 26px;
	}
}

/*Home*/
#homeBox {
	height: 550px
}

#homeBox .container {
	width: 800px;
}

#homeBox .container .holder {
	float: right;
	width: 350px;
	text-align: right;
}

#homeBox .holder .text {
	font-size: 22px;
	line-height: 32px;
}

#homeBox .holder .text-script {
	font-size: 50px;
	line-height: 60px;
}

#homeBox .overlayImg {
	opacity: 1;
	background-position: left center;
}

.promo-section img {
	width: 90%;
	margin: 0 5%;
	float: left;
	margin-bottom:0;
}

.subscribe-section {
	height: 320px;
}

.subscribe-section .title-script {
	font-size: 80px;
	line-height: 86px;
}

.subscribe-section .subscribeForm {
	position: absolute;
	bottom: 80px;
	left: 0;
	right: 0;
	margin: 0;
	text-align: center;
	margin: 0 auto;
	width: 600px;
}

.subscribe-section .subscribeForm .subInput {
	width: 494px;
	display: inline-block;
	float: left;
	margin: 0;
	border-radius: 0px;
	border: 3px solid #cd2d2d;
	background-color: transparent;
	color: #555 !important;
	text-align: center;
	padding: 8px 0px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	margin: 0 1px;
	font-size: 12px;
}

.subscribe-section input#subButton {
	margin: 0;
	float: left;
	width: 98px;
	padding: 0;
	padding: 11px 10px;
	background-color: #cd2d2d;
	font-size: 12px;
	border: none;
	color: #fff;
	border-radius: 0;
	text-transform: uppercase;
	background-color: #cd2d2d;
	transition: none;
	font-weight: 400;
	-webkit-appearance: none;
	position: relative;
	left: -1px;
}

.subscribe-section ::-webkit-input-placeholder {
	color: #cd2d2d;
	opacity: 1;
}

.subscribe-section :-moz-placeholder {
	color: #cd2d2d;
	opacity: 1;
}

.subscribe-section ::-moz-placeholder {
	color: #cd2d2d;
	opacity: 1;
}

.subscribe-section :-ms-input-placeholder {
	color: #cd2d2d;
}

@media ( max-width : 800px) {
	#homeBox .overlayImg {
		opacity: 0.75;
		background-position: left center;
	}
	#homeBox .container {
		width: 96%;
	}
	#homeBox .container .holder {
		float: left;
		width: 100%;
		text-align: center;
	}
	#homeBox .holder .text {
		font-size: 18px;
		line-height: 28px;
	}
	#homeBox .holder .text-script {
		font-size: 40px;
		line-height: 50px;
	}
	.subscribe-section .title-script {
		font-size: 50px;
		line-height: 56px;
	}
	.subscribe-section .subscribeForm {
		width: 90%;
	}
	.subscribe-section .subscribeForm .subInput {
		width: 76%;
		font-size: 8px;
	}
	.subscribe-section input#subButton {
		width: 20%;
		padding: 11px 0;
		font-size: 8px;
	}
	.promo-section img {
		width: 60%;
		margin: 0 20%;
	}
}

/*Subscribe*/
.subscribe-header {
	height: 450px;
	background-position: right center;
}

.subscribe-header .container {
	float: right;
	width: 100%;
	text-align: left;
}

.subscribe-header .container .small.half {
	width: 42%;
}

.subscribe-header .container .large.half {
	width: 45%;
	margin-left: 35px;
}

.subscribe-header  .button {
	background-color: transparent !important;
	border: 2px solid #cd2d2d;
	color: #cd2d2d;
	font-weight: 400;
}

#promo-subscribe-section img {
	width: 60%;
	margin: 0 20%;
	float: left;
	margin-bottom: 10px;
}

#giftImg {
	width: 80%;
}

@media ( max-width : 800px) {
	.subscribe-header {
		height: auto;
	}
	.subscribe-header .container .small.half {
		width: 100%;
		margin: 0 0 20px;
	}
	.subscribe-header .container .large.half {
		width: 80%;
		margin: 0 10%;
	}
	#promo-subscribe-section img {
		width: 40%;
		margin: 0 30%;
	}
}

/*Shop*/
.shop.left {
	width: 25%;
	float: left;
}

.shop.right {
	width: 72%;
	float: right;
}

.shop-box {
	float: left;
	width: 100%;
	width: calc(100% - 30px);
	padding: 15px;
	background: #cd2d2d;
	color: #fff;
}

.the-price {
	font-size: 50px;
	font-weight: 300;
	color: #cd2d2d;
	line-height: 50px;
}

.the-price span {
	font-size: 30px;
}

@media ( max-width : 800px) {
	.shop.left {
		width: 80%;
		margin: 0 10% 20px;
	}
	.shop.right {
		width: 80%;
		margin: 0 10%;
	}
}

/*Registration*/
#fs-form-wrap .subtitle {
	position: relative;
	top: -10px;
}

.fs-nav-dots button:hover::before, .fs-nav-dots button.fs-dot-current::before
	{
	background: #cd2d2d;
}

.fs-progress {
	background: #cd2d2d;
	height: 6px;
}

.fs-fields input {
	color: #3f4853;
	border: none !important;
	border-bottom: 1px solid #e1e2e2 !important;
	font-size: 25px;
	font-weight: 400;
}

.fs-fields input:focus {
	background-color: #f5f5f5;
}

.fs-fields>li label.fs-field-label {
	display: inline-block;
	margin-top: 10px;
	padding: 2px 5px 3px 0;
	font-weight: 700;
	font-size: 14px;
	color: #aaa;
	pointer-events: none;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.fs-form-full .fs-fields>li label[data-info]::before {
	font-size: 12px;
	padding-bottom: 1px;
	text-transform: none;
	letter-spacing: 0px;
}

.fs-message-error {
	bottom: 40px;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 15px;
	transform: none !important;
	text-align: center;
	color: #cd2d2d;
	letter-spacing: 1px;
}

.fs-form-full .fs-fields>li label[data-info]::after {
	position: relative;
	display: inline-block;
	margin-left: 2px;
	width: 20px;
	height: 20px;
	border: 2px solid rgba(0, 0, 0, 0.4);
	color: rgba(0, 0, 0, 0.4);
	border-radius: 50%;
	content: 'i';
	vertical-align: top;
	text-align: center;
	font-weight: 700;
	font-style: italic;
	font-size: 12px;
	font-family: Georgia, serif;
	line-height: 18px;
	cursor: pointer;
	pointer-events: auto;
	text-indent: 3px;
	text-transform: none;
	top: -2px;
}

button.fs-continue:after {
	display: none;
}

button.fs-continue {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0 15px 15px 0;
	font-size: 18px;
	padding: 12px 18px;
	border: 0px solid #e1e2e2;
}

button.fs-submit:hover, button.fs-submit:focus, button.fs-continue:hover
	{
	background: none;
	color: #c90;
}

.fs-numbers {
	position: absolute;
	bottom: -8px;
	left: 0;
	right: auto;
	top: auto;
	font-size: 15px;
}

.fs-nav-dots button {
	width: 10px;
	height: 10px;
}

.fs-fields .fs-radio-custom input[type="radio"]:checked+label {
	color: #999;
}

.fs-fields>li .fs-radio-custom span {
	float: left;
	position: relative;
	margin-right: 10px;
	padding: 10px;
	max-width: 200px;
	width: 120px;
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	font-family: "Lato", Helvetica, Arial, sans-serif;
}

.fs-fields .fs-radio-custom label::after {
	background-size: 60px;
	background-position: center;
	border-radius: 100px;
	height: 80px;
	width: 80px;
	bottom: 0px;
	top: auto;
	opacity: 0.5;
}

.fs-fields .fs-radio-custom label::after {
	background-color: #121212;
}

.fs-fields .fs-radio-custom label.r::after {
	background-color: #cd2d2d;
}

.fs-fields .fs-radio-custom label.b::after {
	background-color: #06C;
}

.fs-fields .fs-radio-custom label.male-icon::after {
	background-image: url('../images/util/icon_man.png');
}

.fs-fields .fs-radio-custom label.female-icon::after {
	background-image: url('../images/util/icon_woman.png');
}

.fs-fields .fs-radio-custom label.both-icon::after {
	background-image: url('../images/util/icon_both.png');
}

#fs-form-wrap .chzn-select, #account-details .chzn-select {
	width: 500px;
}

#fs-form-wrap .chzn-container, #account-details .chzn-container {
	font-family: 'Lato', sans-serif;
	border: 1px solid #e1e2e2;
	padding: 5px 3px;
}

#fs-form-wrap .chzn-container-multi .chzn-choices .search-field input,
	#account-details .chzn-container-multi .chzn-choices .search-field input
	{
	height: 50px;
}

.chzn-container-multi .chzn-choices .search-field .default {
	color: #999;
	font-size: 15px !important;
	line-height: 28px;
	height: 34px;
}

.fs-form-overview {
	background: #fff;
}

.fs-form-overview {
	height: auto !important;
}

.fs-form-overview .fs-fields::before {
	display: block;
	margin-bottom: 25px;
	color: #3b3f45;
	content: 'Review & Complete Registration';
}

.fs-fields textarea {
	color: #121212;
	font-weight: 400;
	font-size: 22px;
	padding: 12px 0;
}

.fs-form-overview .fs-fields>li {
	float: left;
	width: 100%;
}

#account-details ol {
	padding: 0;
	list-style: none;
}

#account-details li {
	float: left;
	width: 100%;
	margin: 10px 0;
}

#account-details .fs-fields>li .fs-radio-custom span {
	text-align: left;
	width: 100px;
}

#account-details input[type="text"], #account-details input[type="password"],
	#account-details input[type="email"], #account-details textarea {
	padding: 15px 5px;
	font-size: 18px;
}

#account-details .fs-fields>li label.fs-field-label {
	font-size: 12px;
	letter-spacing: 3px;
	margin-bottom: 8px;
}

#account-details .search-field input {
	padding: 0;
}

#account-details .search-field {
	float: left;
	width: auto;
	margin: 0;
	padding: 0;
}

#account-details .search-choice {
	width: auto;
	margin: 5px;
}

#account-details .chzn-results li {
	margin: 2px 0;
}

#account-details span label {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#account-header .button {
	margin: 5px 10px;
	font-size: 12px;
	border-radius: 0;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 5px 15px;
	background: #121212;
	color: #fff;
}

#account-header .button.active {
	background: #e1e2e2;
	color: #121212;
}

#my-modal {
	box-shadow: none;
	border: 1px solid #e1e2e2;
}

#my-modal .close {
	border: none;
	background: #121212;
	font-size: 36px;
	width: 40px;
	height: 32px;
	line-height: 25px;
	padding: 0;
	float: right;
	color: #fff;
	margin: 0;
	border-radius: 102px;
	text-shadow: none;
	align-items: initial;
	box-sizing: inherit;
	padding-bottom: 8px;
}

#my-modal label {
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 3px;
	font-weight: 700;
	color: #999;
}

#my-modal .row-fluid {
	float: left;
	width: 100%;
	margin-bottom: 6px;
}

.modal-header {
	border-bottom: 0px solid #eee;
}

#my-modal [class*="span"] {
	width: 100%;
}

#my-modal input {
	box-shadow: none;
	border-radius: 0;
	width: 100% !important;
}

.modal-body {
	max-height: 400px;
	overflow-y: none;
	width: 90%;
}

#address_list .btn {
	padding: 5px 10px;
	font-size: 12px;
	border-radius: 20px;
}

/*Checkout*/
#booking-2 .input.full {
	width: 100%;
	float: left;
	width: calc(100% - 20px);
	padding: 8px 10px;
	float: left;
}

#booking-2 .input.small {
	width: 200px;
	padding: 8px 10px;
	float: left;
}

#booking-2 .input.half-L {
	width: 50%;
	width: calc(50% - 34px);
	padding: 8px 10px;
	margin-right: 10px;
	float: left;
}

#booking-2 .input.half-R {
	width: 50%;
	width: calc(50% - 34px);
	padding: 8px 10px;
	margin-left: 10px;
	float: left;
}

#booking-2 select.input {
	height: 40px;
}

#booking-2 label {
	text-align: left;
	color: #999;
	font-size: 14px;
}

.split {
	float: left;
	width: 10px;
	height: 1px;
}

#address-form-container .modal {
	box-shadow: none;
	width: 70%;
	left: 15%;
	margin: -270px 0 0 0;
}

#address-form-container .modal * {
	border-radius: 0 !important;
}

#address-form-container .modal-footer {
	background-color: transparent;
}

.shopCheckbox {
	display: inline-block !important;
	float: none !important;
	top: -2px;
	margin-right: 5px !important;
	position: relative;
}

/*Text*/
.text {
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0.6px;
	font-weight: 300;
}

.text.alt {
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
}

.text-small {
	font-size: 12px;
	line-height: 15px;
	font-weight: 400;
}

.title {
	font-size: 30px;
	line-height: 40px;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: capitalize;
}

.title.alt {
	font-size: 55px;
	line-height: 65px;
	font-weight: 700;
}

.subtitle {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 4px;
	font-weight: 700;
	text-transform: uppercase;
}

.subtitle.alt {
	font-size: 26px;
	line-height: 36px;
}

.text-script {
	font-family: 'Satisfy', sans-serif;
	font-size: 38px;
	line-height: 42px;
	text-transform: lowercase;
}

.title-script {
	font-family: 'Satisfy', sans-serif;
	font-size: 62px;
	line-height: 72px;
	text-transform: lowercase;
}

h1, h2, h3 {
	font-weight: 700;
	font-size: 24px;
	line-height: 34px;
	margin: 0 0 8px;
	text-transform: capitalize;
}

@media ( max-width : 800px) {
	.text {
		font-size: 16px;
		font-weight: 400;
	}
	.title-script {
		font-size: 40px;
		line-height: 45px;
	}
}

/*Input*/
.button, .btn {
	background: #e1e2e2;
	padding: 10px 14px;
	font-weight: 300;
	text-transform: lowercase;
	letter-spacing: 0.5px;
	text-align: center;
	border-radius: 0px;
	display: inline-block;
	cursor: pointer;
	text-shadow: none;
}

.button.primary {
	background: #cd2d2d;
	color: #fff;
}

.btn {
	font-weight: 400;
	margin: 10px 0;
	border: none;
	border-radius: 0;
	font-size: 14px;
	letter-spacing: 2px;
	line-height: 18px;
	font-family: 'Lato', sans-serif;
}

.icon-large {
	font-size: 120px;
}

.chzn-container {
	font-family: 'Lato', sans-serif;
}

.chzn-container-single .chzn-single, .chzn-container-multi .chzn-choices
	{
	background: #fff;
	border: 0px solid #ccc;
	padding: 0 8px 4px;
	box-shadow: none !important;
	border-radius: 0;
}

.chzn-container-single .chzn-single span {
	font-size: 14px;
	letter-spacing: 0.4px;
	text-transform: capitalize;
	position: relative;
	top: 2px;
}

.chzn-container .chzn-results li {
	font-size: 14px;
	letter-spacing: 0.4px;
	text-transform: capitalize;
}

.chzn-container-multi .chzn-choices {
	padding-bottom: 2px;
	padding-top: 2px;
}

.chzn-container-active .chzn-single-with-drop {
	background-image: none;
	border-color: #fff;
}

.chzn-container-single .chzn-single div b {
	top: 2px;
	position: relative;
	right: 5px;
}

.chzn-container-multi .chzn-choices .search-choice {
	background: #eee;
	border-color: #eee;
	box-shadow: none;
	top: 3px;
	border-radius: 0;
}

label {
	float: left;
	width: 100%;
	margin: 5px 0;
}

input[type="text"], input[type="password"], input[type="email"],
	textarea {
	padding: 8px 5px;
	width: 100%;
	display: block;
	/*float: left;*/
	border: 1px solid #e1e2e2;
	width: calc(100% - 12px);
	margin-bottom: 15px;
	box-shadow: none;
	border-radius: 0;
}

/*Colors*/
.noBG {
	background-color: transparent !important;
}

.whiteBG {
	background-color: #fff !important;
}

.blackBG {
	background-color: #121212 !important;
}

.lightBG {
	background-color: #f1f1f1 !important;
}

.redBG {
	background-color: #cd2d2d !important;
}

.blueBG {
	background-color: #06C !important;
}

.white {
	color: #fff !important;
}

.black {
	color: #191919 !important;
}

.default {
	color: #3f4853 !important;
}

.red {
	color: #cd2d2d !important;
}

.grey {
	color: #aaa !important;
}

.grey2 {
	color: #999 !important;
}

.green {
	color: #093 !important;
}

/*Coming Soon*/
#soon-logo {
	width: 80%;
	max-width: 450px;
}

#soon-timeline {
	width: 80%;
	max-width: 425px;
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

/*Modal*/
.mfp-auto-cursor .mfp-content {
	cursor: default !important;
}

.mfp-table .mfp-container {
	display: table;
}

.mfp-table .mfp-content {
	display: table-cell;
}

.mfp-close-btn-in .mfp-close {
	color: #121212;
	font-size: 26px;
	opacity: 1;
	top: 2px;
	position: absolute;
	height: auto;
	width: auto;
	padding: 5px 10px;
	right: 0;
	line-height: 26px;
}

.white-popup {
	position: relative;
	width: 680px;
	background: #FFF;
	max-width: 95%;
	margin: 20px auto;
	border-radius: 10px;
}

.white-popup .container {
	width: 650px;
	display: block;
	overflow: scroll;
	position: relative;
	padding: 20px;
	color: #212121;
	font-size: 20px;
	line-height: 26px;
}

.white-popup .container.text {
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
}

.white-popup .container .title {
	font-size: 20px;
	line-height: 26px;
	border-bottom: 1px solid #e1e2e2;
	text-align: left;
	float: left;
	font-weight: 400;
	padding-bottom: 8px;
	width: 100%;
	margin-bottom: 8px;
}

.white-popup .half {
	width: 48%;
}

.white-popup .btn {
	margin-right: 5px;
	margin-top: 0;
}

.popup-header {
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}

@media ( max-width : 800px) {
	.white-popup {
		width: 95%;
	}
	.white-popup .container {
		width: 90%;
	}
	.white-popup .half {
		width: 90%;
		margin: 10px 5%;
	}
}

/*Common*/

img {
	border: none;
	max-width: 100%;
}

.noBorder {
	border: none;
}

.hide {
	display: none !important;
}

.noPadding {
	padding: 0 !important;
}

.clear0 {
	clear: both;
	height: 5px;
}

.clear {
	clear: both;
	height: 10px;
}

.clear2 {
	clear: both;
	height: 20px;
}

.clear3 {
	clear: both;
	height: 30px;
}

.clear5 {
	clear: both;
	height: 50px;
}

.section {
	float: left;
	width: 100%;
	padding: 50px 0;
	position: relative;
}

.section.padding {
	padding: 80px 0;
}

.bgImg, .overlayImg {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.textCenter {
	text-align: center !important;
}

.textLeft {
	text-align: left !important;
}

.textRight {
	text-align: right !important;
}

.floatR {
	float: right !important;
}

.floatL {
	float: left !important;
}

.floatNone {
	float: none !important;
	display: inline-block;
}

.fullSection {
	width: 100%;
	display: table;
	position: relative;
	height: 100%;
}

.fullSectionContent {
	height: 100%;
	vertical-align: middle;
	display: table-cell;
	position: relative;
}

.wide {
	width: 100%;
}

.half {
	width: 49%;
}

.half.small {
	width: 40%;
}

.half.large {
	width: 55%;
}

.trip {
	width: calc(33.3333333% - 20px);
	float: left;
	margin-right: 30px;
	position: relative;
}

.trip:nth-child(3n+3) {
	margin-right: 0;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	z-index: 0;
}

.overlayImg {
	opacity: 1;
	z-index: 0;
	position: absolute;
	width: 100%;
	height: 100%;
}

.grayscale {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.divider {
	width: 100%;
	float: left;
	background: #ccc;
	height: 1px;
	margin: 10px 0;
}

.border-top {
	border-top: 1px solid #e1e2e2;
}

.border-bot {
	border-bottom: 1px solid #e1e2e2;
}

.animate {
	transition-timing-function: linear;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

@media ( max-width : 800px) {
	.trip {
		width: 90%;
		margin: 0 5% 15px;
	}
	.section.padding {
		padding: 40px 0;
	}
	.half {
		width: 100%;
	}
	.half.small {
		width: 80%;
		margin: 5px 10%;
	}
	.half.large {
		width: 80%;
		margin: 5px 10%;
	}
}