/* NuTastic Designz / Jarmell James / www.nutastic.net */

/*Store*/
.price, .price-slash{ margin:0px 3px; padding:3px 6px; display:inline-block; position:relative; z-index:2; font-weight:400; font-size:15px; letter-spacing:0.5px; }
.price-slash{ text-decoration:line-through; }
.shop-div{ width:20%; height:3px; background:#ccc; margin:10px 40%; float:left; }
.product-item{ width:calc(33.3333333% - 20px); float:left; margin-right:30px; position:relative; }
.product-item:nth-child(3n+3){ margin-right:0; }
.product-item .img{ position:relative; width:80%; margin:0 10% 15px; height:auto; background-size:cover; background-position:center; background-repeat:no-repeat; border-radius:0px; border:0px solid #f1f1f1; }
.product-item .text-small{ font-size:12px; line-height:20px; font-weight:700; letter-spacing:1px; }
.product-item .text{ font-size:15px; line-height:24px; letter-spacing:0.8px; text-transform:capitalize; font-weight:400; }
.product-item .shop-info{ text-align:center; font-size:16px; text-transform:uppercase; }
#sort_products{ width:100%; }
#pagination .pagination, #pagination ul{ margin:0px; padding:0px; }
#pagination ul > li > a{ font-size:18px; line-height:22px; }
#product-info{ float:left; width:46%; }
#productHolder{ padding:20px 8%; width:84%; float:left; min-height:190px; color:#fff; text-align:left; margin-bottom:100px; }
#productHolder.alt{ padding:20px 0 20px 8%; width:92% }
#product-cart-info{ padding-bottom:10px; }

/*Product*/
#product_cart{ width:100%; }
#product_cart .control-group{ margin-bottom:12px; }
#product_cart .control-label{ float:none; text-align:center; width:100%; margin:10px 0px; }
#product_cart .controls{ margin-left:0px; }
#product_cart .controls > .radio:first-child, #product_cart .controls > .checkbox:first-child{ padding-top:0px; }
#product_cart .cool-btn{ margin:0px; font-size:15px; }
#product_cart .required{ font-size:20px; }
#checkout_buttons{ text-align:right; }
#checkout_buttons label{ margin-bottom:5px; display:inline-block; font-size:inherit; }
#checkout_buttons .btn-small{ padding:5px; margin-top:0px; }
#cart_table{ font-size:14px; }
#cart_table, #cart_table.table-bordered thead:first-child tr:first-child th:first-child, #cart_table td{ border-radius:0px; }
#cart_table.table-striped tbody tr:nth-child(odd) td{ color:#999; font-weight:400; }
#addressForm [class*="span"], #addressForm .row, #checkout [class*="span"], #checkout .row{ margin-left:0px; }
#addressForm .span4, #addressForm .span3, #checkout .span4, #checkout .span3{ margin-right:30px; }
#checkout .tabbable ul { padding-left: 0px; }
#checkout .tabs-left > .nav-tabs > li > a{ margin-bottom:0px;  }
#orderDetails .span3{ width:220px; }