
.wheel-content {
    left: -900px;
    width: 700px;
    height: calc(100vh - 100px);
    position: absolute;
    z-index: 1000;
    text-align: center;
    padding: 50px 50px;
    display: table;
    color: #fff;
}

.wheel-content .div{
    display: table-cell;
    vertical-align: middle;
    padding: 0 0 0 250px;
}

.the-wheel {
    position: absolute;
    border: 0px solid #121212;
    border-radius: 500px;
    background: transparent;
    left: -150px;
    height: 400px;
    width: 400px;
    margin: auto;
    top: 0;
    bottom: 0;
    background:#fff;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#wheel-email.bad-email{
	border:5px solid #9d2222 !important;
}

input#wheel-email:disabled {
    background: rgba(0,0,0,0.2) !important;
    color: #fff !important;
}

.pre-header {
    float: left;
    width: 100%;
    padding: 20px 0;
    background: #cd2d2d;
    text-align: center;
    color: #fff;
    border-bottom: 6px solid #fff;
}

.wheel-content i.fa {
    position: absolute;
    color: #121212;
    font-size: 100px;
    display: inline-block;
    width: 100px;
    top: -70px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1000;
}

.wheel-content input {
    font-size: 18px;
    border: none !important;
    margin: 0px 20% 20px 0 !important;
    width: 80% !important;
    font-weight: 300 !important;
    letter-spacing: 0.5px;
    padding: 16px !important;
}

.wheel-content li {
    margin-left: -10px;
}

.clickable
{
    cursor: pointer;
}

.bt-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	border-width: 0px;
	border-style: solid;
	border-color: #cd2d2d;
	background-color: rgba(0,0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
	transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
	z-index: 1000;
}

.bt-menu.bt-menu-open {
	height: 100%;
	border-width: 0px 0px 0px 900px;
	background-color: rgba(0,0,0,0.9);
	-webkit-transition: border-width 0.3s, background-color 0.3s;
	transition: border-width 0.3s, background-color 0.3s;
}

.bt-overlay {
	position: absolute;
	width: 100%;
}

.bt-menu-open .bt-overlay {
	height: 100%;
}

.bt-menu-trigger i.fa.fa-tag {
    color: #fff;
    font-size: 36px;
    margin-top: 16px;
}

.bt-menu-trigger {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: block;
    width: 40px;
    height: 70px;
    cursor: pointer;
    background: #cd2d2d;
    padding: 5px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    bottom: 0;
    margin: auto;
}

.bt-menu-open .bt-menu-trigger{
	left:900px;
	transition-timing-function: linear;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.bt-menu-trigger span {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 100%;
	height: 8%;
	background-color: #fff;
	font-size: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.bt-menu-trigger span:before {
	-webkit-transform: translateY(-250%);
	transform: translateY(-250%);
}

.bt-menu-trigger span:after {
	-webkit-transform: translateY(250%);
	transform: translateY(250%);
}

.bt-menu-open .bt-menu-trigger span:before {
	-webkit-transform: translateY(-300%);
	transform: translateY(-300%);
}

.bt-menu-open .bt-menu-trigger span:after {
	-webkit-transform: translateY(300%);
	transform: translateY(300%);
}

div#countdown .days, div#countdown .hours {
    display: none;
}

#countdown {
    display: inline-block;
}
#countdown .minutes, #countdown .seconds {
    display: inline-block;
    margin: 0 5px;
    background: rgba(0,0,0,0.2);
    font-size: 14px;
    padding: 5px 8px;
    border-radius: 5px;
    letter-spacing: 1.5px;
    font-weight: 300;
}



@media ( max-width : 800px) {
	.the-wheel{
		left: -200px;
	}
	.bt-menu.bt-menu-open {
	    height: 100%;
	    border-width: 0px 0px 0px 450px;
	}
	.bt-menu-open .bt-menu-trigger {
    	left: 430px;
	}
	.wheel-content {
	    left: -500px;
	    width: 440px;
	    height: calc(100vh - 100px);
	    position: absolute;
	    z-index: 1000;
	    text-align: center;
	    padding: 50px 40px;
	}
	.wheel-content .div {
	    display: table-cell;
	    vertical-align: middle;
	    padding: 0 0 0 205px;
	}
	.wheel-content .text-script {
	    font-size: 24px;
	}
	.wheel-content .text {
	    font-size: 14px;
	    font-weight: 400;
	}
	.wheel-content .text.alt {
	    font-size: 12px;
	    line-height: 22px;
	}
	.wheel-content .button {
	    font-size: 13px !important;
	    padding: 10px 8px !important;
	}
	.wheel-content input {
	    font-size: 12px !important;
	    padding: 12px !important;
	}


